.admin-layout {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    width: 78%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .content-wrapper {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
  }
  